<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\Jocuri\Jocuri.mdf;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key ="UtilizatoriPath" value ="C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\Jocuri\Resurse\Utilizatori.txt"/>
		<add key ="RezultatePath" value ="C:\Users\Miriam\Documents\Aplicatii C\CSHARP Nationala\Jocuri\Resurse\Rezultate.txt"/>
	</appSettings>
</configuration>